<app-navbar></app-navbar>

<div class="container">
    <div class="mt-5 mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-dark">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </nav>
    </div>
    <table class="table table-bordered mb-5">
        <thead class="table-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img class="product-image" src="../../../assets/images/product/iphone-15.png" alt="">
                    iPhone 15
                </td>
                <td class="fw-bold">123</td>
                <td>
                    <button class="btn btn-outline-dark" title="Add to cart"><i class="bi bi-plus"></i></button>
                    <button class="btn btn-outline-dark ms-2" title="Delete"><i class="bi bi-trash"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<app-footer></app-footer>